{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PhotoMadness</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
<script type='text/javascript' src='//facilitycompetition.com/d3/cc/9c/d3cc9c7addc2aee02e11f59de4e275cf.js'></script>
</head>
<body>
	<!-- BEGIN wrapper -->
	<div id="wrapper">
	  <!-- BEGIN header -->
	  <div id="header">
		<!-- begin pages -->
		<ol>
		  <li class="f"><a href="">Home</a></li>
		  <li><a href="">About Us</a></li>
		  <li><a href="">Demo Page</a></li>
		  <li><a href="">Contact Page</a></li>
		</ol>
		<!-- end pages -->
		<p class="links"><strong>Subscribe:</strong> <a href="">Posts</a> | <a href="">Comments</a> | <a href="">Email</a></p>
		<h1><a href="">PhotoMadness</a></h1>
		<div class="ad"> <a href=""><img src="{% static 'images/ad468x60.gif" alt="" /></a> </div>
		<!-- begin categories -->
		<ul>
		  <li><a href="">Advertising</a></li>
		  <li><a href="">Entertainment</a></li>
		  <li><a href="">Fashion</a></li>
		</ul>
		<!-- end categories -->
	  </div>
	  <!-- END header -->
<script type="text/javascript">
	atOptions = {
		'key' : 'ea5a537d310c464defd10cd9634a146d',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ea5a537d310c464defd10cd9634a146d/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'ffadeb13ac463755e1bc95a9fc826071',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ffadeb13ac463755e1bc95a9fc826071/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '891922545a8bb68102116d55f6102351',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/891922545a8bb68102116d55f6102351/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'd46f32aa09e3d2113215e50efbd44f08',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d46f32aa09e3d2113215e50efbd44f08/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '83b6c2c94c7325c14d6822891288e0eb',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/83b6c2c94c7325c14d6822891288e0eb/invoke.js"></scr' + 'ipt>');
</script>
<script type='text/javascript' src='//facilitycompetition.com/b9/12/bd/b912bd3ec890d3bbc4c85ab11f9e2eed.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : 'd758bb4bca55252ed6bd08fcabb8e25c',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d758bb4bca55252ed6bd08fcabb8e25c/invoke.js"></scr' + 'ipt>');
</script>
<script async="async" data-cfasync="false" src="//facilitycompetition.com/445ed33e1e9cc19a57b4902bf45ae685/invoke.js"></script>
<div id="container-445ed33e1e9cc19a57b4902bf45ae685"></div>




	  <!-- BEGIN content -->
	  <div id="content">
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb1.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb2.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb3.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb4.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb5.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb6.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb7.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb8.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumb9.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumba.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumbb.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<!-- begin post -->
		<div class="thumb"> <a href=""><img src="{% static 'images/_thumbc.jpg' %}" alt="" /></a> </div>
		<!-- end post -->
		<div class="break"></div>
	  </div>
	  <!-- END content -->
<script type="text/javascript">
	atOptions = {
		'key' : 'ea5a537d310c464defd10cd9634a146d',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ea5a537d310c464defd10cd9634a146d/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'ffadeb13ac463755e1bc95a9fc826071',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ffadeb13ac463755e1bc95a9fc826071/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '891922545a8bb68102116d55f6102351',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/891922545a8bb68102116d55f6102351/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'd46f32aa09e3d2113215e50efbd44f08',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d46f32aa09e3d2113215e50efbd44f08/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '83b6c2c94c7325c14d6822891288e0eb',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/83b6c2c94c7325c14d6822891288e0eb/invoke.js"></scr' + 'ipt>');
</script>
<script type='text/javascript' src='//facilitycompetition.com/b9/12/bd/b912bd3ec890d3bbc4c85ab11f9e2eed.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : 'd758bb4bca55252ed6bd08fcabb8e25c',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d758bb4bca55252ed6bd08fcabb8e25c/invoke.js"></scr' + 'ipt>');
</script>
<script async="async" data-cfasync="false" src="//facilitycompetition.com/445ed33e1e9cc19a57b4902bf45ae685/invoke.js"></script>
<div id="container-445ed33e1e9cc19a57b4902bf45ae685"></div>
	  <!-- BEGIN sidebar -->
	  <div id="sidebar">
		<!-- begin search -->
		<form action="">
		  <input type="text" name="s" id="s" value="" />
		  <button type="submit">Search</button>
		</form>
		<!-- end search -->
		<!-- begin twitter -->
		<div class="twitter">
		  <p>What is your favorite way to distress yourself after a week of hardwork?</p>
		  <p class="date">2:40 PM Jan 15th</p>
		</div>
		<!-- end twitter -->
		<!-- begin popular posts -->
		<div class="box">
		  <h2>Popular Posts</h2>
		  <ul>
			<li><a href="">Sed tempor, orci a suscipit dapibus, lacus justo</a></li>
			<li><a href="">Laoreet imperdiet Cras placerat suscipit purus</a></li>
			<li><a href="">Quisque iaculis gravida mauris Donec elit</a></li>
			<li><a href="">In vulputate sem quis metus Ut convallis</a></li>
			<li><a href="">Proin convallis turpis sed dui Sed at velit eu felis</a></li>
			<li><a href="">Luisque iaculis gravida mauris Donec elit ipsum</a></li>
		  </ul>
		</div>
		<!-- end popular posts -->
		<!-- begin flickr photos -->
		<div class="box">
		  <h2>Flickr Photos</h2>
		  <p class="flickr"> <a href=""><img src="{% static 'images/_flickr1.jpg' %}" alt="" /></a> <a href=""><img src="{% static 'images/_flickr2.jpg' %}" alt="" /></a> <a href=""><img src="{% static 'images/_flickr3.jpg' %}" alt="" /></a> <a href=""><img src="{% static 'images/_flickr4.jpg' %}" alt="" /></a> <a href=""><img src="{% static 'images/_flickr5.jpg' %}" alt="" /></a> <a href=""><img src="{% static 'images/_flickr6.jpg' %}" alt="" /></a> </p>
		</div>
		<!-- end flickr photos -->
		<!-- begin tags -->
		<div class="box">
		  <h2>Tags</h2>
		  <p class="tags"> <a href="">Link</a> </p>
		</div>
		<!-- end tags -->
		<!-- begin left -->
		<div class="l">
		  <!-- begin pages -->
		  <div class="box">
			<h2>Pages</h2>
			<ul>
			  <li><a href="">About</a></li>
			  <li><a href="">Links</a></li>
			  <li><a href="">Archives</a></li>
			  <li><a href="">Contact</a></li>
			</ul>
		  </div>
		  <!-- end pages -->

		  <!-- begin archives -->
		  <div class="box">
			<h2>Archives</h2>
			<ul>
			  <li><a href="">December 2008</a></li>
			  <li><a href="">November 2008</a></li>
			  <li><a href="">October 2008</a></li>
			  <li><a href="">September 2008</a></li>
			  <li><a href="">August 2008</a></li>
			</ul>
		  </div>
		  <!-- end archives -->
<script type="text/javascript">
	atOptions = {
		'key' : 'ea5a537d310c464defd10cd9634a146d',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ea5a537d310c464defd10cd9634a146d/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'ffadeb13ac463755e1bc95a9fc826071',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ffadeb13ac463755e1bc95a9fc826071/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '891922545a8bb68102116d55f6102351',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/891922545a8bb68102116d55f6102351/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'd46f32aa09e3d2113215e50efbd44f08',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d46f32aa09e3d2113215e50efbd44f08/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '83b6c2c94c7325c14d6822891288e0eb',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/83b6c2c94c7325c14d6822891288e0eb/invoke.js"></scr' + 'ipt>');
</script>
<script type='text/javascript' src='//facilitycompetition.com/b9/12/bd/b912bd3ec890d3bbc4c85ab11f9e2eed.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : 'd758bb4bca55252ed6bd08fcabb8e25c',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d758bb4bca55252ed6bd08fcabb8e25c/invoke.js"></scr' + 'ipt>');
</script>
<script async="async" data-cfasync="false" src="//facilitycompetition.com/445ed33e1e9cc19a57b4902bf45ae685/invoke.js"></script>
<div id="container-445ed33e1e9cc19a57b4902bf45ae685"></div>
		  <!-- begin blogroll -->
		  <div class="box">
			<h2>Blogroll</h2>
			<ul>
			  <li><a href="">Adsense Blog</a></li>
			  <li><a href="">Dart's Photography</a></li>
			  <li><a href="">Entertainment Portal</a></li>
			</ul>
		  </div>
		  <!-- end blogroll -->
		</div>
		<!-- end left -->
		<!-- begin right -->
		<div class="r">
		  <!-- begin categories -->
		  <div class="box">
			<h2>Categories</h2>
			<ul>
			  <li><a href="">Advertising</a></li>
			  <li><a href="">Entertainment</a></li>
			  <li><a href="">Fashion</a></li>
			  <li><a href="">Google</a></li>
			  <li><a href="">Lifestyle</a></li>
			  <li><a href="">Photos</a></li>
			  <li><a href="">Resources</a></li>
			  <li><a href="">Videos</a></li>
			  <li><a href="">Wordpress Themes</a></li>
			</ul>
		  </div>
		  <!-- end categories -->
		  <!-- begin meta -->
		  <div class="box">
			<h2>Meta</h2>
			<ul>
			  <li><a href="">Login</a></li>
			</ul>
		  </div>
		  <!-- end meta -->
		</div>
		<!-- end right -->
	  </div>
	  <!-- END sidebar -->
<script type="text/javascript">
	atOptions = {
		'key' : 'ea5a537d310c464defd10cd9634a146d',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ea5a537d310c464defd10cd9634a146d/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'ffadeb13ac463755e1bc95a9fc826071',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/ffadeb13ac463755e1bc95a9fc826071/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '891922545a8bb68102116d55f6102351',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/891922545a8bb68102116d55f6102351/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : 'd46f32aa09e3d2113215e50efbd44f08',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d46f32aa09e3d2113215e50efbd44f08/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '83b6c2c94c7325c14d6822891288e0eb',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/83b6c2c94c7325c14d6822891288e0eb/invoke.js"></scr' + 'ipt>');
</script>
<script type='text/javascript' src='//facilitycompetition.com/b9/12/bd/b912bd3ec890d3bbc4c85ab11f9e2eed.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : 'd758bb4bca55252ed6bd08fcabb8e25c',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://facilitycompetition.com/d758bb4bca55252ed6bd08fcabb8e25c/invoke.js"></scr' + 'ipt>');
</script>
<script async="async" data-cfasync="false" src="//facilitycompetition.com/445ed33e1e9cc19a57b4902bf45ae685/invoke.js"></script>
<div id="container-445ed33e1e9cc19a57b4902bf45ae685"></div>
	  <!-- BEGIN footer -->
	  <div id="footer">
		<p class="l">Copyright &copy; 2009 - <a href="">Website Name</a> &middot; All Rights Reserved</p>
		<p class="r">Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a> | Get More <a href="">Free CSS Templates</a></p>
	  </div>
	  <!-- END footer -->
	</div>
	<!-- END wrapper -->
	<div align=center>This template  downloaded form <a href=''>Pearl</a></div></body>
	</html>





